<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Ut's Cafe</title>
    <link rel="stylesheet" href="/head.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- <h1 style="text-align: center;">Welcome to Home Page</h1> -->
    <header>
        <div class="logo">
            <a href="#"> Ut's<span>Cafe</span> </a>
        </div>

        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#menu">Menu</a></li>
                <li><a href="#shop">Shop</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        <h1>Hello, Welcome to</h1>
        <h2>Ut's Cafe</h2>
        <p>Would you like to start the day with a Nice Coffee</p>
    </div>

    <div class="menu" id="menu">
        <div class="menu-header">
            <h4 style="color: orange;">Menu</h4>
            <h4 style="color: orange;">Ut's Cage Menu</h4>
        </div>
        <div class="menu-content">
            <div class="hot-coffees">
                <div class="hot-coffees-image">
                    <img src="/coffee.png" alt="hot_coffee_image">
                </div>
                <div class="hot-coffees-body">
                    <h2>Hot Coffee</h2>
                    <label>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, ipsum!!
                    </label>
                </div>
            </div>
        
            <div class="cold-coffees">
                <div class="cold-coffees-image">
                    <img src="/coldcoffee.png" alt="cold_coffee_image">
                </div>
                <div class="cold-coffees-body">
                    <h2>Cold Coffee</h2>
                    <label>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, ipsum!!
                    </label>
                </div>
            </div>
            <div class="frappuccino-coffees">
                <div class="frappuccino-coffees-image">
                    <img src="/frappuccino.png" alt="frappuccino_coffee_image">
                </div>
                <div class="frappuccino-coffees-body">
                    <h2>Frappuccino Coffee</h2>
                    <label>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, ipsum!!
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="shop" id="shop">
        <div class="shop-header">
            <h3>Shop</h3>
            <h4>Ut's Cafe Drink</h4>
        </div>
        <div class="shop-box">
            <div class="item-1">
                <div class="card">
                    <div class="card-image">
                        <img src="/caramel_macchiato.png" alt="caramel_macchiato">
                    </div>
                    <div class="card-body">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                        <label class="cash">4.45$</label>
                        <h3>Caramel Macchiato</h3>
                        <button id="caramel_macchiato">Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="item-2">
                <div class="card">
                    <div class="card-image">
                        <img src="/flatwhite.png" alt="flatwhite">
                    </div>
                    <div class="card-body">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                        <label class="cash">3.45$</label>
                        <h3>Flat White</h3>
                        <button id="flatwhite">Buy now</button>
                    </div>
                </div>
            </div>
            <div class="item-3">
                <div class="card">
                    <div class="card-image">
                        <img src="/chocolate_frappuccino.png" alt="chocolate_frappuccino">
                    </div>
                    <div class="card-body">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                        <label class="cash">3.05$</label>
                        <h3>Chocolate_frappuccino</h3>
                        <button id="chocolate_frappuccino">Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="item-4">
                <div class="card">
                    <div class="card-image">
                        <img src="/frappe.png" alt="frappe">
                    </div>
                    <div class="card-body">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                        <label class="cash">2.79$</label>
                        <h3>frappe</h3>
                        <button id="frappe">Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="item-5">
                <div class="card">
                    <div class="card-image">
                        <img src="/caffe_mocha.png" alt="caffe_mocha">
                    </div>
                    <div class="card-body">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                        <label class="cash">1.79$</label>
                        <h3>caffe_mocha</h3>
                        <button id="caffe_mocha">Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="item-6">
                <div class="card">
                    <div class="card-image">
                        <img src="/white_chocolate_mocha.png" alt="white chocolate mocha">
                    </div>
                    <div class="card-body">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                        <label class="cash">5.29$</label>
                        <h3>white chocolate mocha</h3>
                        <button id="white_chocolate_mocha">Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="item-7">
                <div class="card">
                    <div class="card-image">
                        <img src="/ice_latte.png" alt="ice latte">
                    </div>
                    <div class="card-body">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                        <label class="cash">4.09$</label>
                        <h3>ice latte</h3>
                        <button id="ice_latte">Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="item-8">
                <div class="card">
                    <div class="card-image">
                        <img src="/espresso.png" alt="espresso">
                    </div>
                    <div class="card-body">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                        <label class="cash">3.22$</label>
                        <h3>espresso</h3>
                        <button id="espresso">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact" id="contact">
        <div class="contact-box">
            <div class="contact-image">
                <img src="/contact.png" alt="contact">
            </div>
        </div>
        <div class="contact-box">
            <div class="contact-body">
                <form>
                    <h2>Contact Us</h2>
                    <div class="form-content">
                        <input type="text" required>
                        <span></span>
                        <label>Username</label>
                    </div>
                    <div class="form-content">
                        <input type="email" required>
                        <span></span>
                        <label>Email</label>
                    </div>
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-box">
            <div class="social-media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="copyright">
                <label>Copyright &copy;2024</label>

            </div>
            <div class="brand">
                <label>Ut's <span> Cafe</span></label>
            </div>
        </div>
    </div>

    
</body>
</html>