*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/loginpagepic.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
    color: peru;
}

.form-container{
    /* width: 300px; */
    /* margin: 0 auto; */
    padding: 40px;
    border: 1px solid #1b1717;
    border-radius: 5px; 
        /* border: 0.1dvh solid black; */
        box-shadow: 0  0 5px #f1aaaa;
        border-radius: 7px;
        display: inline-block;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 40px;
        position: absolute;
        /* margin-left: 220px; */
        /* margin-top: 50px; */
        /* background-color: white; */
}

.form-group{
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size:30px;
    color: rgb(216, 162, 24);
}

.form-group input{
    width: 290px;
    padding: 8px;
    font-size: 20px;
    border: 1px solid #CCC;
    border-radius: 3px;
}


.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #472dbb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.submit-btn:hover{
    background-color: #3f21c9;
}

p{
    margin-top: 15px;
    font-size: 16px;
    text-decoration: none;
    color: gold;
    font-weight: bolder;
}

